/* CSS RESETS */

body {
	background-color: #000000;
	margin: 0;
}

* {
	color: #fdf549;
}

main > div {
	position: relative;
	top: 10rem;
}

header {
	height: 50px;
	margin: 10px;
}

header img{
	width: 175px;
	float: left;
}

.fas {
	float: right;
	color: #fdf549;
	font-size: 30px;
	margin: .25em 1em 0 0;
	cursor: pointer;
}

.fa-envelope {
	float: none;
}

.lyrics {
	position: relative;
	font-family: "Merriweather", sans-serif;
	text-align: center;
	font-size: 18px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000
}

footer > h1 {
	text-align: center;
	font-family: "Oswald", sans-serif;
}

footer > h1 > a {
	color: #fdf549;
	font-family: "Oswald", sans-serif;
	text-align: center;
	text-decoration: none;
}

footer > h1 > a:hover {
	text-decoration: line-through;
}

input {
	outline: none;
	border: none;
	background: black;
	height: 50px;
	font-size: 25px;
	font-family: "Oswald", sans-serif;
	color: #fdf549;
	float: left;
	display: none;
}

input[type=text]{
	border-bottom: 2px solid #fdf549;
	width: 80%;
	text-align: center;
	letter-spacing: 2.5px;

}

input[type=submit]{
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
}

input[type=submit]:hover {
	text-decoration: line-through;
}

ul {
	background-color: black;
	width: 28em;
	border-radius: 1em;
	margin: 0 auto;
	padding: 0;
	height: 12em;
	box-sizing: border-box;
	border: 1px solid #fdf549;
}

ul span {
	display: inherit;
	height: 1.8em;
	border-bottom: 0.2em #fdf549 solid;
	text-align: center;
	font-family: "Oswald", sans-serif;
}

ul li{
	margin: 0 0 0 .5em;
	padding:0;
	list-style:none;
	position:relative;
	float:left;
	cursor: pointer;
	width: 5em;
	background: #fdf549;
	height: 10em;
}

ul li:hover {
	background: #fffa65;
}

ul li:active {
	box-shadow: inset 1px 0 0 .5px black;
}
/*
li:first-child {
	border-radius: 1em;
} not working*/

#first {
	border-bottom-left-radius: 0.7em;
}
#last {
	margin-right: 0;
	border-bottom-right-radius: 0.7em
}

@keyframes comethru {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.lyrics {
	animation-name: comethru;
	animation-duration: 10s;
}